@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.titleFont {
  font-family: GangwonEduPowerExtraBoldA;
}

.nameFont {
  font-family: Pretendard-Regular;
}

.container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* 요소들을 세로로 정렬 */
  align-items: center; /* 가로축(수평) 중앙 정렬 */
  justify-content: center; /* 세로축(수직) 중앙 정렬 */
  gap: 10px;
}

.container > * {
  width: 100%; /* 내부 요소들이 컨테이너의 너비를 따르게 */
  max-width: 800px;
  text-align: center;
}

.xyCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
